* {
	margin: 0;
	padding: 0;
}

body {
	font-family:sans-serif;
	font-size: 0;
}

.wrapper {
	position: absolute;
	border: 2px solid #c5c5c5;
	height: 400px;	
	left: 250px;
	top: 70px;	
	width: 570px;
}

form div label  {
	font-size: 20px;
  	line-height: 50px;
  	display: inline-block; 
  	margin: 15px 15px;
  	width: 80px;
}

.help {
	font-size: 16px;
  	height: 33px;
  	margin-left: 15px;
  	margin-top: 20px;
  	width: 107px;
  	background-color: #f0ebeb;
  	border: 2px solid #c5c5c5;
  	border-radius: 4px;
}

.help: hover  {
  cursor: pointer;
  background-color: #e6e6e6;
}

.tooltip  {
  background-color: #f0ebeb;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .30);
  color: #000;
  display: inline-block;
  margin-left: 9px;
  padding: 6px;
  vertical-align: middle;
  width: 250px;
}